<script lang="ts" setup>
const { title } = useTitle();
const { isUserLogged, logout } = useAuth();
const route = useRoute();
</script>

<template>
  <VApp class="bg-grey-lighten-4">
    <VAppBar class="bg-teal-darken-4">
      <template #image> </template>

      <NuxtLink to="/" class="text-decoration-none text-white ml-4">
        <VAppBarTitle>Mercadona - {{ title }}</VAppBarTitle>
      </NuxtLink>

      <VSpacer />

      <VBtn to="/" class="mr-2"> Catalogue </VBtn>

      <VBtn v-if="!isUserLogged" to="/auth/login"> Connexion </VBtn>
      <template v-else>
        <VBtn to="/admin"> Admin </VBtn>
        <VBtn @click="logout">Me déconnecter</VBtn>
      </template>
    </VAppBar>

    <VMain>
      <VContainer :fluid="route.name === 'index'">
        <slot />
      </VContainer>
    </VMain>

    <VFooter class="bg-teal-darken-4" style="max-height: 50px">
      Copyleft © Alexandre BERNE 2023
    </VFooter>
  </VApp>
</template>
