<script lang="ts" setup>
import useVuelidate from '@vuelidate/core';
import { helpers, required } from '@vuelidate/validators';

const form = reactive({
  username: '',
  password: '',
});

const validation = useVuelidate(
  {
    username: { required: helpers.withMessage("L'email est requis", required) },
    password: {
      required: helpers.withMessage('Le mot de passe est requis', required),
    },
  },
  form,
);

const { token, user, fetchToken, fetchUser } = useAuth();
const isLoading = ref<boolean>(false);
const router = useRouter();

const submit = async () => {
  validation.value.$touch();
  if (validation.value.$invalid) {
    return;
  }
  isLoading.value = true;
  await fetchToken(form.username, form.password);
  await fetchUser();
  isLoading.value = false;
  router.push('/admin');
};

const showPassword = ref<boolean>(false);
</script>

<template>
  <VForm @submit.prevent="submit">
    <p class="text-h4 mb-8">Connexion</p>
    <VTextField
      v-model="form.username"
      label="Email"
      name="email"
      variant="outlined"
      class="mb-4"
      :error-messages="validation.username.$errors[0]?.$message  as string?? ''"
      @blur="validation.username.$touch()"
    />
    <VTextField
      v-model="form.password"
      label="Mot de passe"
      name="password"
      class="mb-4"
      :type="showPassword ? 'text' : 'password'"
      :append-inner-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off-outline'"
      variant="outlined"
      :error-messages="validation.password.$errors[0]?.$message  as string?? ''"
      @blur="validation.password.$touch()"
      @click:append-inner="showPassword = !showPassword"
    />
    <VBtn block type="submit" size="x-large"> Se connecter </VBtn>
  </VForm>
</template>
