<script lang="ts" setup>
const { title } = useTitle();
title.value = 'Administration';

enum Tab {
  Products,
  Categories,
}
const tab = ref<Tab>(Tab.Products);
</script>

<template>
  <div>
    <VCard flat class="pa-4 rounded-lg">
      <VTabs v-model="tab">
        <VTab :value="Tab.Products">Produits</VTab>
        <VTab :value="Tab.Categories">Catégories</VTab>
      </VTabs>

      <div class="pt-4">
        <VWindow v-model="tab">
          <VWindowItem :value="Tab.Products">
            <Product />
          </VWindowItem>
          <v-window-item :value="Tab.Categories">
            <Category />
          </v-window-item>
        </VWindow>
      </div>
    </VCard>
  </div>
</template>
