<script lang="ts" setup>
const { products, fetchProducts } = useProduct();
const { findCategoryByUrl, fetchCategories } = useCategory();

const config = useRuntimeConfig();
await Promise.all([fetchProducts(), fetchCategories()]);
const { title } = useTitle();

title.value = 'Catalogue';
</script>

<template>
  <div class="wrapper">
    <div class="cards">
      <div v-for="product in products" :key="product.id" v-ripple class="card">
        <img
          v-if="product.image"
          class="image"
          :src="`${config.public.backendUrl}media/${product.image}`"
          :alt="product.label"
        />
        <div class="content">
          <p class="label mb-2">
            {{ product.label }}
          </p>
          <p class="description">{{ product.description }}</p>
          <div
            class="mb-2 category text-teal-darken-1 bg-teal-lighten-4 d-block"
          >
            {{ findCategoryByUrl(product.category ?? '')?.label ?? '' }}
          </div>
          <div class="price" :class="{ 'price-promotion': !!product.price }">
            <span :class="{ 'has-promotion': product.promotion }">
              {{ product.price }} €
            </span>
            <template v-if="product.promotion">
              <span>Réduction de {{ product.promotion.percentage }} %</span>
              <span class="promotion">
                {{
                  (
                    (product.price * (100 - product.promotion.percentage)) /
                    100
                  ).toFixed(2)
                }}
                €
              </span>
            </template>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.wrapper {
  margin-top: 1rem;
  padding: 1.5rem;
  border-radius: 1rem;

  .title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;
    user-select: none;

    .card {
      box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
      min-width: 15.625rem;
      max-width: 25rem;
      border-radius: 12px;
      overflow: hidden;
      font-size: 18px;
      transition: all 0.2s ease-in-out;
      cursor: pointer;
      background: linear-gradient(
        25deg,
        rgba(32, 191, 85, 0.5) 20%,
        rgba(1, 186, 239, 0.3) 60%,
        rgba(255, 255, 255, 1)
      );

      img {
        width: 100%;
        height: 11.25rem;
        object-fit: cover;
        filter: blur(2px);
        transition: all 0.4s ease-in-out;
        overflow: hidden;
      }

      .content {
        padding: 0.5rem 1rem;
        display: flex;
        flex-flow: column;

        .label {
          font-size: 20px;
          font-weight: bold;
        }

        .description {
          height: 81px;
          overflow: hidden;
        }

        .category {
          font-size: 16px;
          font-weight: bold;
          width: fit-content;
          padding: 0.25rem 0.5rem;
          border-radius: 1rem;
        }

        .price {
          display: flex;
          justify-content: space-between;
          justify-self: flex-end;

          &.price-promotion .has-promotion {
            text-decoration: line-through;
          }

          .promotion {
            font-size: 24px;
            color: #bf360c;
            filter: drop-shadow(0 0 0.25rem white);
            font-weight: 900;
          }
        }
      }

      &:hover {
        transform: scale(1.02) translateY(-5px) rotateZ(0.3deg);
        transform-origin: center;
        box-shadow: 0 0 2rem rgba(0, 123, 112, 0.5);

        img {
          filter: blur(0px);
        }
      }
    }
  }
}
</style>
