<script lang="ts" setup>
import { Category } from '~/composables/useCategory';

const { categories, fetchCategories } = useCategory();
await fetchCategories();

const categoryLabel = ref<string>('');
const isFetchingAdd = ref<boolean>(false);

const addCategory = async (): Promise<void> => {
  if (!categoryLabel.value) {
    return;
  }
  isFetchingAdd.value = true;
  const res = await useApi<Category>('categories', {
    method: 'POST',
    body: {
      label: categoryLabel.value,
    },
  });
  isFetchingAdd.value = false;
  categoryLabel.value = '';
  categories.value.push(res);
};

const categoryToEdit = ref<Category | null>(null);
const isFetchingEdit = ref<boolean>(false);

const editCategory = async () => {
  if (!categoryToEdit.value || categoryToEdit.value.label === '') {
    return;
  }
  isFetchingEdit.value = true;
  const res = await useApi<Category>(
    `categories/${categoryToEdit.value.id}`,
    {
      method: 'PATCH',
      body: {
        label: categoryToEdit.value.label,
      },
    },
  );
  categories.value.splice(
    categories.value.findIndex((c) => c.id === categoryToEdit.value?.id),
    1,
    res,
  );
  isFetchingEdit.value = false;

  categoryToEdit.value = null;
};

const isFetchingDelete = ref<boolean>(false);
const deleteCategory = async (categoryId: number) => {
  isFetchingDelete.value = true;
  const res = await useApi<Category>(
    `categories/${categoryId}`,
    {
      method: 'DELETE',
    },
  );
  isFetchingDelete.value = false;
  categories.value = categories.value.filter((c) => c.id !== categoryId);
};
</script>

<template>
  <div>
    <VTable>
      <thead>
        <tr>
          <th class="text-left">Libellé</th>
          <th>Supprimer</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(category, index) in categories" :key="index">
          <td class="py-2">
            <div
              v-if="!categoryToEdit || categoryToEdit.id !== category.id"
              class="d-flex align-center"
            >
              <span class="mr-2">{{ category.label }}</span>
              <VBtn
                color="teal"
                density="compact"
                variant="outlined"
                icon="mdi-pencil-outline"
                @click="categoryToEdit = category"
              />
            </div>
            <VForm
              v-else
              class="d-flex align-center"
              @submit.prevent="editCategory"
            >
              <VTextField
                v-model="categoryToEdit.label"
                label="Ajouter une catégorie"
                variant="underlined"
                class="mr-2"
                outlined
                :disabled="isFetchingEdit"
                hide-details
                dense
              >
                <template #append-inner>
                  <VProgressCircular
                    v-if="isFetchingEdit"
                    indeterminate
                    size="24"
                  />
                </template>
              </VTextField>
              <VBtn
                color="teal"
                density="compact"
                variant="outlined"
                icon="mdi-close"
                @click="categoryToEdit = null"
              />
            </VForm>
          </td>
          <td class="py-2">
            <VBtn
              color="red-darken-1"
              :loading="isFetchingDelete"
              @click="deleteCategory(category.id)"
            >
              Supprimer
            </VBtn>
          </td>
        </tr>
        <tr>
          <td class="py-2">
            <VForm @submit.prevent="addCategory">
              <VTextField
                v-model="categoryLabel"
                label="Ajouter une catégorie"
                variant="underlined"
                class="mr-2"
                outlined
                :disabled="isFetchingAdd"
                hide-details
                dense
              >
                <template #append-inner>
                  <VProgressCircular
                    v-if="isFetchingAdd"
                    indeterminate
                    size="24"
                  />
                </template>
              </VTextField>
            </VForm>
          </td>
          <td class="py-2">-</td>
          <td class="py-2">-</td>
        </tr>
      </tbody>
    </VTable>
  </div>
</template>
