<script lang="ts" setup>
import { Product } from '~/composables/useProduct';

const config = useRuntimeConfig();
const { findCategoryByUrl } = useCategory();
const { products, fetchProducts, deleteProduct, isFetchingDelete } =
  useProduct();
await fetchProducts();

const productToEdit = ref<Product | null>(null);
const editProduct = (product: Product) => {
  productToEdit.value = product;
  isEditDialogOpen.value = true;
};

const isEditDialogOpen = ref<boolean>(false);
</script>

<template>
  <div>
    <VBtn variant="elevated" class="mb-4" @click="isEditDialogOpen = true">
      Créer un produit
    </VBtn>

    <ProductCreateEditForm
      v-model:is-open="isEditDialogOpen"
      :product="productToEdit"
      @update:is-open="productToEdit = null"
    />

    <VTable>
      <thead>
        <tr>
          <th class="text-left">Libellé</th>
          <th>Description</th>
          <th>Prix</th>
          <th>Catégorie</th>
          <th>Modifier</th>
          <th>Supprimer</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="product in products" :key="product.id">
          <td class="py-2">
            <div class="d-flex align-center" style="gap: 1rem">
              <img
                loading="lazy"
                :src="`${config.public.backendUrl}media/${product.image}`"
              />
              {{ product.label }}
            </div>
          </td>
          <td class="py-2">{{ product.description }}</td>
          <td class="py-2">{{ product.price }}</td>
          <td class="py-2">
            {{ findCategoryByUrl(product.category ?? '')?.label ?? '' }}
          </td>
          <td class="py-2">
            <VBtn
              color="teal-darken-1"
              :loading="isFetchingDelete"
              @click="editProduct(product)"
            >
              Modifier
            </VBtn>
          </td>
          <td class="py-2">
            <VBtn
              color="red-darken-1"
              :loading="isFetchingDelete"
              @click="deleteProduct(product.id)"
            >
              Supprimer
            </VBtn>
          </td>
        </tr>
      </tbody>
    </VTable>
  </div>
</template>

<style lang="scss" scoped>
img {
  max-width: 80px;
  max-height: 80px;
  object-fit: cover;
  border-radius: 0.5rem;
}

td {
  padding: 1rem 0;
}
</style>
