<script lang="ts" setup>
import { useVuelidate } from '@vuelidate/core';
import { required, helpers } from '@vuelidate/validators';
import VueDatePicker from '@vuepic/vue-datepicker';
import { type Product } from '@/composables/useProduct';
import '@vuepic/vue-datepicker/dist/main.css';

const props = defineProps<{
  product: Product | null;
  isOpen: boolean;
}>();
const emit = defineEmits<{
  (e: 'update:isOpen', value: boolean): void;
}>();

const isOpenLocal = computed<boolean>({
  get: () => props.isOpen,
  set: (value) => emit('update:isOpen', value),
});

const { categories, fetchCategories, findCategoryByUrl } = useCategory();
await fetchCategories();

interface FormDto {
  label: string;
  description: string;
  price: string;
  image?: File;
  category?: number;
  promotion?: string;
  dates?: Date[];
}
const form = reactive<FormDto>({
  label: '',
  description: '',
  price: '',
  image: undefined,
  category: undefined,
  dates: [],
  promotion: undefined,
});

watch(isOpenLocal, (newValue) => {
  if (newValue && props.product) {
    form.label = props.product.label ?? '';
    form.category =
      findCategoryByUrl(props.product.category ?? '')?.id ?? undefined;
    form.price = props.product.price?.toString() ?? undefined;
    form.description = props.product.description ?? '';
  }
});

const validation = useVuelidate(
  {
    label: {
      required: helpers.withMessage('Le libellé est requis', required),
    },
    price: {
      required: helpers.withMessage('Le prix est requis', required),
    },
  },
  form,
);

const close = () => {
  form.category = undefined;
  form.description = '';
  form.label = '';
  form.price = '';
  form.image = undefined;
  form.dates = [];
  form.promotion = undefined;
  validation.value.$reset();
  emit('update:isOpen', false);
};

const { products } = useProduct();
const isLoading = ref<boolean>(false);

const submitEdit = async () => {
  if (!props.product) {
    return;
  }

  const body = {
    label: form.label,
    description: form.description,
    price: form.price,
    category: form.category?.toString() ?? '',
  };

  const res = await useApi<Product>(
    `products/${props.product.id}`,
    {
      method: props.product ? 'PATCH' : 'POST',
      body,
    },
  );

  products.value.splice(
    products.value.findIndex((product) => product.id === props.product?.id),
    1,
    res,
  );
};

const submitCreate = async () => {
  const formData = new FormData();
  formData.append('label', form.label);
  formData.append('description', form.description);
  formData.append('price', form.price);
  formData.append('category', form.category?.toString() ?? '');
  if (form.promotion && form.dates?.length === 2) {
    formData.append('promotion', form.promotion?.toString() ?? '');
    formData.append('promotionStart', form.dates[0].toISOString() ?? '');
    formData.append('promotionEnd', form.dates[1].toISOString() ?? '');
  }

  if (form.image) {
    formData.append('image', form.image as Blob);
  }
  const res = await useApi<Product>(`products`, {
    method: 'POST',
    body: formData,
  });

  products.value.push(res);
};

const submit = async () => {
  validation.value.$touch();

  if (validation.value.$anyDirty && validation.value.$invalid) {
    return;
  }

  isLoading.value = true;
  if (props.product) {
    await submitEdit();
  } else {
    await submitCreate();
  }
  isLoading.value = false;

  close();
};

const updateFile = ($event: Event) => {
  const target = $event.target as HTMLInputElement;
  if (target.files?.length) {
    form.image = target.files[0];
  }
};
</script>

<template>
  <VDialog
    v-model="isOpenLocal"
    :persistent="isLoading"
    @update:model-value="!$event && close()"
  >
    <VCard max-width="800" width="100%" class="mx-auto">
      <VForm @submit.prevent="submit">
        <VCardText>
          <h2 class="mb-6">
            <template v-if="!product"> Ajouter un produit </template>
            <template v-else>
              Modifier le produit {{ product.label }}
            </template>
          </h2>
          <VTextField
            v-model="form.label"
            class="mb-4"
            label="Libellé"
            name="label"
            variant="outlined"
            :error-messages="validation.label.$errors[0]?.$message as string ?? ''"
            @change="validation.label.$touch()"
            @blur="validation.label.$touch()"
          />
          <VTextarea
            v-model="form.description"
            class="mb-4"
            label="Description"
            name="description"
            variant="outlined"
          />
          <VTextField
            v-model="form.price"
            class="mb-4"
            type="number"
            label="Prix"
            name="price"
            variant="outlined"
            :error-messages="validation.price.$errors[0]?.$message as string ?? ''"
            @change="validation.price.$touch()"
            @blur="validation.price.$touch()"
          />
          <VFileInput
            v-if="!product"
            class="mb-4"
            :model-value="form.image ? [form.image] : undefined"
            :multiple="false"
            @change="updateFile"
          />
          <VSelect
            v-model="form.category"
            class="mb-4"
            :items="categories"
            item-value="id"
            item-title="label"
          />
          <VTextField
            v-model="form.promotion"
            class="mb-4"
            type="number"
            label="Pourcentage de la promotion"
            name="promotion"
            variant="outlined"
          />
          <VueDatePicker
            v-model="form.dates"
            range
            placeholder="Dates de début et de fin de la promotion"
          />
        </VCardText>
        <VCardActions>
          <VSpacer />
          <VBtn
            variant="outlined"
            size="x-large"
            :disabled="isLoading"
            @click="close()"
          >
            Fermer
          </VBtn>
          <VBtn
            color="indigo-darken-3"
            variant="elevated"
            size="x-large"
            type="submit"
            :loading="isLoading"
          >
            <template v-if="!product"> Ajouter </template>
            <template v-else> Modifier </template>
          </VBtn>
        </VCardActions>
      </VForm>
    </VCard>
  </VDialog>
</template>
